
body {
    background-color: #8BA1BB;
    font-family: Arial;
}

p.recette {
    background-color: black;
    color: white;
    margin-top: -10px;
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    
}

div.centre{
    overflow: visible;
    text-align: center;
    margin-bottom: 18px;
    margin-top: -20px;
    padding-bottom: 30px;
}

.contenu{
    overflow: visible;
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0 8px 20px 8px;
    /*min-width: 350px;*/
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, .1);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

p.description {
    /*text-align: center;*/
    max-width: 400px;
    display: inline-block;
    font-size: 16px;
}

div.description{
    text-align: center;
}

div.separateur {
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.img{
    width: 100%;
    display: block;
    height: 400px;
    object-fit:cover ;
    min-height: 200px;
    background-color: grey;
}

div.info {
    position: relative;
}
.table {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    height: 50px;
    background-color: #6C829dc0;
}

.table td {
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

div.colonne {
    width: 100%;
    margin-top: 20px;
    
}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829d;
    padding-bottom: 5px;
}

div.colonne1 {
    display: inline-block;
   
}


div.colonne2 {
    margin-left: 0;
}

div.item p {
    border: solid 1px lightgray;
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 2px;
}

table.preparation p.numero {
    background-color: #6C829d;
    height: 25px;
    width: 25px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td {
    vertical-align: top;
}

table.preparation tr {
    height: 40px;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

* {
    overflow: auto;
}



@media only screen and (min-width: 768px) {
  
    .contenu{
        min-width: 350px;
        margin: 60px 10% 80px 10%;
        padding: 0 30px 30px 30px;
    }

    div.info {
        position: relative;
    }
    .table {
        height: 80px;
    }

    .table td {
        font-size: 14px;
    }

    div.colonne {
        width: 45%;
        margin-top: 20px;
        
    }
    
    div.colonne1 {
        display: inline-block;
       
    }
    
    
    div.colonne2 {
        float: right;
        margin-left: 10%;
    }
    

}

@media only screen and (min-width: 900px) {
  
    .contenu{
        min-width: 350px;
        margin-left: auto;
        margin-right: auto;
        width: 644px;
    }

]